#app{
    padding: 5%;
}
.card {
    border: 1px solid;
    border-color: #ccc;
    width: 100%;
    height: 11rem;
    padding: 0.5rem;
    margin: 1rem;
}
.innerCard {
    border: 1px solid;
    width: 100%;
    height: 100%;
    position: relative;
}
.cardTitle {
    font-weight: bolder;
    margin-left: 0.5rem;
}
.cardAvailable {
    color: #55AA55;
    font-weight: bolder;

}
.cardExpired {
    color: #FF5555 !important;
}
.cardFooter {
    position: absolute;
    text-align: center;
    width: 100%;
    transition: all 3s;
    top:100%;
    height: 0%;
}
.image010 {
    background-repeat: no-repeat;
    background-size: contain;

}
